*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  
  
}
body{
   font-family: Arial, sans-serif;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}
main{
  flex: 1;
}
/* NAVBAR */
nav{
  background-color: #1A5C38;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px; 
}
nav h1{
  font-size: 30px;
  color: #f5a623;
}
nav ul{
  list-style: none;
  display: flex;
  gap: 20px;
}
nav a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover{
  color: #F5A623
}
/* HERO SECTION */
.hero{
  background-color: #FAFAF8;
  text-align: center;
  padding: 120px 20px;
}
.hero h2{
  font-size: 50px;
  margin-bottom: 20px;
}
.hero p{
  font-size: 18px;
  color: #777;
  margin-bottom: 20px;
}

/* BUTTON */
button{
  background-color: #F5A623;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  background-color: #1A5C38;
}
/* JOB SECTION */
.jobs-section{
  padding: 60px 40px;
  
}
.jobs-section h2{
  text-align: center;
  margin-bottom: 40px;
  font-size: 4opx;
}
.jobs-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
/* JOB CARD */
.job-card{
  background-color: #FAFAF8;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
}
.job-card h3{
  color: #1A5C38;
  margin-bottom: 15px;
}
.job-card p{
  margin-bottom: 10px;
  color: #555;
}
/* SEARCH */
.job-search{
  text-align: center;
  margin-bottom: 20px;
}
.job-search input{
  width: 60%;
  padding: 10px;
}
/* ABOUT SECTION */
.about-section{
  padding: 80px 40px;
  text-align: center;
  background-color: #FAFAF8;
}
.about-section h2{
  font-size: 40px;
  margin-bottom: 20px;
  color: #1A5C38;
}
.about-section p{
  font-size: 18px;
  color: #555;
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
}
/* APPLY SECTION */
.apply-section{
  padding: 60px 20px;
  text-align: center;
  background-color: #FAFAF8;
}
.apply-section h2{
  font-size: 35px;
  margin-bottom: 10px;
  color: #1A5C38;
}
.apply-section p{
  font-size: 18px;
  margin-bottom: 25px;
  color: #555;
}
.apply-section form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: auto;
}
.apply-section input,
.apply-section textarea{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.apply-section textarea{
  height: 120px;
}
.apply-btn{
  display: inline-block;
  background-color: #F5A623;
  color: white;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 5px;
  margin-top: 15px;
}
.apply-btn:hover{
  background-color: #1A5C38;
}
.about-section button{
  background-color: #F5A623;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
}
/* FOOTER */
footer{git
  background-color: #1A5C38;
  color: white;
  text-align: center;
  padding: 20px;
}
@media(max-width:760px){
  nav{
    flex-direction: column;
    gap: 15px;
  }
  .jobs-container{
    grid-template-columns: 1fr;
  }
  .hero h2{
    font-size: 35px;
  }
}